node_modules
npm-debug.log
dist
coverage
coverage-e2e
.nyc_output
.env
.env.local
.env.test
.git
.gitignore
README.md
.eslintcache
.vscode
.idea
*.md
Dockerfile
.dockerignore
docker-compose.yml
.github
.DS_Store
*.log
logs
*.tgz
.npm
.next
out
.cache
.parcel-cache
.nyc_output
*.lcov
junit.xml
test-results
playwright-report
test-report.html
e2e-test-results 